@import "tailwindcss";
@config "../tailwind.config.js"; /* path must be correct */


body {
  font-family: 'Inter', system-ui, sans-serif;
  @apply antialiased;
  background-color: theme('colors.background');  /* <-- quotes required */
  color: theme('colors.text');                    /* <-- quotes required */
}